@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

video {
    display: block;
}

// * {
//     font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", “黑體-繁", " Heiti TC", “微軟正黑體", "Microsoft JhengHei", sans-serif;
// }

$icon-anim: all .5s;
$text_color: rgb(56, 56, 56);
$text_color_2: white;
$form_bg: rgba(255, 255, 255, 0.2);

@mixin glass_bg() {
    border: 2px solid rgba(255, 255, 255, 0.438);
    backdrop-filter: blur(5px);
    background-color: $form_bg;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@mixin list_box_style() {
    display: flex;
    width: 80%;
}

@mixin list_item_style() {
    flex: 1;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    margin: 0 1rem;
    overflow: hidden;
}

// header start
#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .logo {
        width: 80px;
        margin-left: 1rem;
    }

    nav {
        .icon {
            display: flex;
            justify-content: end;
            margin-right: 1rem;

            a {
                width: 35px;
                height: 35px;
                display: block;
                margin-right: 0.5rem;
            }
        }

        .icon_fb {
            background-image: url(../images/icon-fb.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-fb-hover.svg);
            }
        }

        .icon_ig {
            background-image: url(../images/icon-ig.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-ig-hover.svg);
            }
        }

        .icon_line {
            background-image: url(../images/icon-line.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-line-hover.svg);
            }
        }

        .menu {
            display: flex;
            @include glass_bg();
            border-radius: 30px;
            margin: 0.5rem 1rem;
            padding: 0.5rem;

            li a {
                display: block;
                padding: 0.5rem 1rem;
                color: $text_color;
                border: none;
                position: relative;

                font: {
                    family: 'Caveat', cursive;
                    weight: 700;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            li a::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                left: -1px;
                width: 0%;
                height: 2px;
                background-color: $text_color;
                transition: width .4s ease-in-out;
            }
        }
    }
}

// 主要內容
main>* {
    height: 100vh;
}

main {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font: {
                family: 'Caveat', cursive;
                weight: 700;
                size: 3rem;
            }

            border-bottom: 3px solid $text_color;
            color: $text_color;
            margin: 50px 0;
        }
    }

    #contact {
        background-image: url(../images/bg_contact.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        #message_form {
            width: 35%;

            label {
                margin: 30px 0 10px;
            }

            input,
            textarea {
                padding: 10px 15px;
                color: $text_color;
                @include glass_bg();
            }

            button {
                position: relative;
                outline: none;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                height: 40px;
                width: 210px;
                background-color: $form_bg;
                border: 2px solid rgba(255, 255, 255, 0.438);
                backdrop-filter: blur(5px);

                &:hover {
                    animation: rotate 0.7s ease-in-out both;
                }

                &:hover span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }

                span {
                    color: $text_color;
                    font-size: 12px;
                    font-weight: 500px;
                    // letter-spacing: 0.7px;
                }

                @keyframes rotate {
                    0% {
                        transform: rotate(0deg) translate3d(0, 0, 0);
                    }

                    25% {
                        transform: rotate(3deg) translate3d(0, 0, 0);
                    }

                    50% {
                        transform: rotate(-3deg) translate3d(0, 0, 0);
                    }

                    75% {
                        transform: rotate(1deg) translate3d(0, 0, 0);
                    }

                    100% {
                        transform: rotate(0deg) translate3d(0, 0, 0);
                    }
                }

                @keyframes storm {
                    0% {
                        transform: translate3d(0, 0, 0) translateZ(0);
                    }

                    25% {
                        transform: translate3d(4px, 0, 0) translateZ(0);
                    }

                    50% {
                        transform: translate3d(-3px, 0, 0) translateZ(0);
                    }

                    75% {
                        transform: translate3d(2px, 0, 0) translateZ(0);
                    }

                    100% {
                        transform: translate3d(0, 0, 0) translateZ(0);
                    }
                }
            }
        }

        #message_form>* {
            display: block;
            width: 100%;
            border-radius: 15px;
        }
    }

    #news {
        background-color: #f2edf0;

        .list_box {
            @include list_box_style();

            .list_item {
                @include list_item_style();

                div {
                    height: 40vh;
                    overflow: hidden;
                }

                img {
                    object-fit: cover;
                    height: 100%;
                }

                .news_text {
                    padding: 20px;
                    height: auto;

                    // 省略文字寫法
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 5;
                    }

                    a {
                        display: block;
                        text-align: end;
                        color: $text_color;
                        transition: $icon-anim;
                        margin-right: 2rem;

                        &:hover {
                            text-decoration: underline;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

    #service {
        background-color: #e6ece5;

        .list_box {
            @include list_box_style();
            height: 60vh;

            .service_bg_1 {
                background-image: url(../images/pt_svc1.jpg)
            }

            .service_bg_2 {
                background-image: url(../images/pt_svc2.jpg)
            }

            .service_bg_3 {
                background-image: url(../images/pt_svc3.jpg)
            }

            .service_bg_4 {
                background-image: url(../images/pt_svc4.jpg)
            }

            .list_item {
                @include list_item_style();
                display: flex;
                align-items: flex-end;
                background-size: cover;
                background-position: center;
                transition: $icon-anim;

                &:hover {
                    transform: scale(1.05);
                }

                a {
                    display: block;
                    width: 100%;
                    color: $text_color;
                    padding: 1rem;
                    @include glass_bg();
                    border: 0px;

                    p {
                        // 單行省略寫法
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    #video {
        background-color: #ecf0f4;

        video {
            height: 70vh;
        }
    }

    #about {
        position: relative;
        video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .3;
        }

        div {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include glass_bg();

            p {
                height: 70vh;
                overflow: auto;
                padding: 0 5rem;
            }
        }
    }
}

footer {
    background-color: #f2edf0;
    padding: 50px;
    text-align: center;
}