@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

video {
    display: block;
}

// * {
//     font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", “黑體-繁", " Heiti TC", “微軟正黑體", "Microsoft JhengHei", sans-serif;
// }

$icon-anim: .5s;
$text_color: rgb(56, 56, 56);

// header start
#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 80px;
        margin-left: 1rem;
    }

    nav {
        .icon {
            display: flex;
            justify-content: end;

            a {
                width: 35px;
                height: 35px;
                display: block;
                margin-right: 0.5rem;
            }
        }

        .icon_fb {
            background-image: url(../images/icon-fb.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-fb-hover.svg);
            }
        }

        .icon_ig {
            background-image: url(../images/icon-ig.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-ig-hover.svg);
            }
        }

        .icon_line {
            background-image: url(../images/icon-line.svg);
            transition: $icon-anim;

            &:hover {
                background-image: url(../images/icon-line-hover.svg);
            }
        }

        .menu {
            display: flex;

            li a {
                display: block;
                padding: 0.5rem 1rem;
                color: $text_color;
                border: none;
                position: relative;

                font: {
                    family: 'Caveat', cursive;
                    weight: 700;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            li a::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                left: -1px;
                width: 0%;
                height: 2px;
                background-color: $text_color;
                transition: width .4s ease-in-out;
            }
        }
    }
}

// 主要內容
main>* {
    height: 100vh;
}

main {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font: {
                family: 'Caveat', cursive;
                weight: 700;
                size: 3rem;
            }

            border-top: 3px solid $text_color;
            color: $text_color;
            margin: 50px 0;
        }
    }

    #contact {
        background-image: url(../images/bg_contact.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        #message_form {
            width: 35%;

            label {
                margin: 30px 0 10px;
            }
        }

        #message_form > * {
            display: block;
            width: 100%;
        }
    }

    #news {
        background-color: #f2edf0;
    }

    #service {
        background-color: #e6ece5;
    }

    #video {
        background-color: #ecf0f4;
    }
}

footer {
    background-color: #f2edf0;
    padding: 50px;
    text-align: center;
}