@charset "UTF-8";

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
    color: rgb(73, 73, 73);
    list-style: none;
}

body {
    background: linear-gradient(rgb(82, 82, 82), rgb(255, 226, 163));
    margin: 0;

    display: grid;
    grid-template-columns: minmax(500px, auto);

}

.main {
    margin: 50px auto;
    width: 70%;
}

/* heard start */
.header {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(94, 94, 94);
    border-bottom: 5px solid gold;

    display: flex;
    justify-content: center;

    .header_ifm {
        align-content: center;
        padding: 1rem;

        display: flex;

        img {
            border-radius: 50%;
        }

        .header_ifm_name {
            margin-left: 1rem;

            & h1 {
                color: rgb(255, 175, 3);
                font-size: 3rem;
                margin-bottom: 0;
            }

            & h3 {
                color: rgb(255, 175, 3);
                font-size: 1.5rem;
                margin: 0 0 24px 8px;
            }
        }
    }

    .header_super {
        ul {
            padding-left: 0;
        }

        & li {
            color: rgb(207, 43, 2);
            font-weight: bold;
        }
    }

    .header_ul {
        padding: 1rem;

        ul {
            padding-left: 0;
        }

        & img {
            margin: 0.8rem;
            vertical-align: middle;
        }
    }
}

@media all and (max-width: 1200px) {
    .header {
        flex-direction: column;
    }
}

/* heard end */

/* section start */

.section {
    border-bottom: 5px solid gold;
}

.skill-ul {
    align-content: center;
    align-items: center;
    padding-left: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));

    img {
        margin: 0.8rem;
        vertical-align: middle;
    }


}



.skill-text {
    margin: 2.5rem 0 20px 2rem;
}

.s-container {
    border-radius: 25px;
    background: #cfcfcf;
    height: 15px;
    width: 115px;
}

.html-progress {
    border-radius: 25px 0 0 25px;
    background: linear-gradient(90deg, rgb(247, 100, 56), rgb(255, 193, 59));
    color: white;
    height: inherit;
    width: 80%;
    text-align: center;
}

.css-progress {
    border-radius: 25px 0 0 25px;
    background: linear-gradient(90deg, rgb(54, 101, 255), rgb(117, 172, 255));
    color: white;
    height: inherit;
    width: 65%;
    text-align: center;
}

.js-progress {
    border-radius: 25px 0 0 25px;
    background: linear-gradient(90deg, rgb(250, 195, 14), rgb(253, 238, 151));
    color: white;
    height: inherit;
    width: 45%;
    text-align: center;
}

.r-progress {
    border-radius: 25px 0 0 25px;
    background: linear-gradient(90deg, rgb(19, 195, 248), rgb(100, 253, 233));
    color: white;
    height: inherit;
    width: 30%;
    text-align: center;
}

/* section end */

/* article start */
article {
    border-bottom: 5px solid gold;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.article-text {
    margin-bottom: 1rem;
}

article ul {
    padding-left: 0;
}

span {
    color: rgb(255, 175, 3);
    font-weight: 550;
}

/* article end */

/* section autobiography start */

.autobiography {
    border-bottom: 5px solid gold;
    text-align: center;
    padding: 0 1.5rem;
}

.autobiography h2 {
    margin-top: 0;
    padding-top: 1rem;
}

.autobiography p {
    text-align: start;
}

/* section autobiography end */

// project start
.project {
    width: 100%;
    border-bottom: 5px solid gold;

    h2 {
        text-align: center;
    }

    .project_main {
        display: flex;
        flex-direction: column;

        .project_section {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                margin-top: 0.5rem;
            }
        }
    }
}

// project end

/* footer start */
footer {
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.footer-text {
    color: rgb(122, 122, 122);
    font-size: 0.8rem;
}

/* footer end */


.b-radius {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(94, 94, 94);
}